body{
    background-color: #ABCAE0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    color: #344E61;
    text-align: center;

}


.projects { 
    display:flex; 
    flex-wrap:wrap; 
}
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: #A067A0; /* pick a color */
border-radius: 25%;
}